#content
{
	--contentColor:#a1a1a1;
	background:linear-gradient(to right,#6f6d6d,var(--contentColor) 35%,#c7c7c7 50%,var(--contentColor) 65%,#6f6d6d) ;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	min-width: 400px;
	border: 1px solid #757575;

}
.drone{
	background-color: red;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

h2{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-size: 60px;
	font-weight: 900;
}

#redirect{
	margin: 50px;
	text-align: center;
}
#redirectToCreate{
	width:300px;
	height:50px;
	font-size: 20px;
	font-weight: bolder;
	border-radius: 2%;
}
#simName{
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36) inset;
	padding-left: 5px;
	margin-top: 5px;
	width:300px;
	height:30px;
	font-size: 20px;
}
#logoDiv{
	width:70px;
	float:left;
	position: relative;
	top:-620px;
	left:100px;
	background-color:rgb(78, 78, 78) ;
	padding:15px;
	border:1px solid black;
	border-radius: 45%;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.36) inset;
	z-index: 10 !important;
}
#logo{
	width:70px;
}
#maxUsers{
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36) inset;
	padding-left: 5px;
	margin-top: 5px;
	width:60px;
	height:30px;
	font-size: 20px;
}
#agentNumber{
	border-radius: 10px;
	margin-top: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36) inset;
	padding-left: 5px;
	width:100px;
	height:30px;
	font-size: 15px;
}
.deleteSim{
	width:25px;
	text-align: center;
	color:white;
	box-shadow: none;
	background-color: rgb(74, 71, 71);
}
#newSim{
	margin:auto;
	width:50%;
	text-align: center;
}
input[type="checkbox"]{
	cursor: pointer;
}
select{
	margin-top: 5px;
	height:25px;
	font-size: 20px;
}
select:focus, .text:focus {
	outline-width: 0;
	border:solid 2px rgba(0, 94, 255, 0.6);
}


label{
	font-size: 20px;
	font-weight:550;
	color:rgb(56, 56, 56);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
}
button{
	width:90px;
	cursor: pointer;
	background-color: rgb(235, 235, 235);
	border:1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px black;
}
button:focus{
	outline-width: 0;
	box-shadow: 1px 1px 1px black;
}

#databaseButton{
	width:140px;
	height:30px;
	cursor: pointer;
	background-color: rgb(235, 235, 235);
	border:1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px black;
}

#newSims, #activeSim,#database {
	background-color: #ffffff;
	padding: 15px 0px;
	box-shadow: 3px 3px 2px #888888, -3px -3px 2px #888888, -3px 3px 2px #888888, 3px -3px 2px #888888;
	border: 1px solid #414141;
}

#activeSims{
	margin:auto;
	width:80%;
}

#tooltip{
	background-color: red;
	width: 30%;
	height:100%;

	display:inline;
	height: 100%;
	z-index: 100 !important;
}



#simList{
	width:100%;

}

h1{
	text-align: center;
	padding: inherit;

	border: 1px solid black;
	border-width: 1px 0px;
	background:linear-gradient(to right,var(--contentColor), rgb(215, 215, 215) , var(--contentColor));
	text-shadow: 2px 2px 1px rgb(198, 198, 198);
	/*box-shadow: 1px 0px 2px #888888, -1px 0px 2px #888888;*/
}

table
{
	border-collapse: collapse;
}

th, td
{

	text-align: center;
}

th
{
	min-width: 100px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	cursor: pointer;
}

th:last-of-type
{
	cursor: auto;
}

td
{
	padding: 10px;
}

tr:nth-of-type(even) td
{
	background-color: rgba(197, 216, 247,.7);
}
