#content
{
  background-color: #f9f9f9;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  min-width: 400px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
#newSim{
  margin:auto;
  width:50%;
  text-align: center;
}

#newSims, #activeSim {
  background-color: #EEECEE;
  padding: 15px 0px;
  box-shadow: 1px 1px 6px #888888;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
label{
  font-size: 20px;
  font-weight:550;
}
input{

}
select{
  height:25px;
  font-size: 20px;
}
#activeSims{
  margin:auto;
  width:70%;

}
#simList{
  margin:auto;
  width:auto;

}

h1{
  text-align: center;
  padding: inherit;
}

table
{
  border-collapse: collapse;
}

th, td
{

  text-align: center;
}

th
{
  min-width: 100px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  cursor: pointer;
}

th:last-of-type
{
  cursor: auto;
}

td
{
  padding: 10px;
}

tr:nth-of-type(even) td
{
  background-color: rgba(197, 216, 247,.7);
}
