body
{
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}

.add-sim
{
  text-align: center;
  font-size: 18pt;
  margin-top: -15px;
}

.add-sim > :hover, .add-sim > :visited, .add-sim > :active, .add-sim > :focus
{
  text-decoration: none;
}

.batch-options
{
  margin-top: 15px;
  float: right;
}

.toggleOpts:hover, .toggleOpts:visited, .toggleOpts:active, .toggleOpts:focus
{
  text-decoration: none;
}

.remove-sim
{
  float: right;
  visibility: hidden;
}

#batchProgress
{
  display: none;
  text-align: center;
  font-size: 8pt;
}

#viewResults
{
  max-width: 200px;
  margin: auto;
  display: block;
}
