@import 'menuCss.css';

:root{
  --buttonSize:60px;
}

body{
  background-color: rgb(55, 55, 55);
  overflow-x: hidden;
}
#agentStateDescriptionDiv{
  display: none;
  position: absolute;
  top: 0px;
  right:0px;
  width:400px;
  height:400px;
  background-color: rgba(20,20,20,.7);
  border: 1px black solid;
}
#statesInfo{
  width: 80%;
  margin: 0 auto;
  color:rgba(255, 255, 255, 0.95);
  user-select: none;
}
#statesInfo caption{
  font-size: 30px;
  cursor: default;
}
#statesInfo th{
  text-shadow: 1px 1px black;
  padding-top: 10px;
  font-size: 20px;
  background-color: rgba(100,100,100,.7);
  padding-bottom:2px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,.9);
}
#statesInfo th:hover{
  background-color: rgba(100,100,100,.9);

}
#statesInfo th:active{
  box-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
#statesInfoTextDiv{
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  width: 95%;
  height:76%;

  background-color: rgba(140,140,140,.7);
}

#statesInfoText{
  padding-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
#defaultStateDescript{
  margin: 0 auto;
  width:60%;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  z-index: -100 !important;
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
  border:solid black;
  border-width:4px;
}

#statsBar{
  text-align: center;
  z-index: 99 !important;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  color:white;
}
#beeStats{
  width: 100%;
  text-shadow: 2px 2px black;
  background-color: rgba(20,20,20,.7);
  padding: 5px 0px;
}

#deadBeeDiv{
  margin:0 auto;
  width:12%;
  height: 20px;
  background-color: rgb(161, 161, 161);
}

#deadBeeProgress{
  background-color: rgb(100,255,10);
}
